.movie-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px;
  &__wrapper {
    max-width: 50%;
    min-width: 30%;
    @media screen and (max-width: 800px) {
      max-width: none;
      min-width: 30%;
      margin: 5px;
    }
  }
}
