.movie-viewer-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 250px;
  height: 350px;
  margin: 20px;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 0.5rem;

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #35858b;
    img {
      height: 300px;
      width: 250px;
      border-radius: 5px;
    }
  }

  &__title {
    padding: 1rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.movie-viewer-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

a:link,
a:visited,
a:hover,
a:active {
  color: #072227;
  font-weight: 400;
  text-decoration: none;
}
