.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  &__list-cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  &__list-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__pagination {
    margin: 1rem 0;
    color: white;
  }

  &__pagination-root {
    button {
      background-color: black;
      color: white;
      font-weight: 600;
    }
  }
}
