.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.movie-list--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
