.movie-header {
  width: 100%;
  background-color: #000000;

  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  &__alt {
    color: #4fbdba;
  }
}
