$white: #f5f5f5;
$rose: #ba7e7e;

.movie-info-layout {
  display: flex;
  flex-direction: column;
  height: 780px;
  margin: 30px 0;
  padding: 19px;
  position: relative;
  overflow: hidden;
  width: 70%;
  background: $white;
  box-shadow: 5px 5px 15px rgba($rose, 0.5);
  border-radius: 10px;

  &__main-data {
    display: flex;
    justify-content: space-evenly;

    &__image {
      display: flex;
      height: 600px;
      align-items: center;
      img {
        height: 500px;
        border-radius: 10px;
        width: 350px;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      padding: 10px;

      &--label {
        width: 100%;
        height: 50px;
        span {
          padding: 60px 0;
          margin-top: 50px 0;
          font-weight: 700;
        }
      }
    }
  }

  &__ratings {
    height: 600px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    background-color: aqua;
    &__title {
      display: flex;
    }
  }
}
