$white: #f5f5f5;
$rose: #ba7e7e;

.movie-info-details-card {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 2rem 0;
  padding: 2rem;
  width: 70%;
  max-width: 900px;
  background: $white;
  box-shadow: 5px 5px 15px rgba($rose, 0.5);
  border-radius: 5px;

  &__details {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 800px) {
      display: block;
      justify-content: center;
    }
  }

  &__details-panel {
    display: flex;
    flex-direction: column;
  }

  &__image {
    border-radius: 5px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    @media screen and (max-width: 800px) {
      width: 100%;
      margin: 0;
    }
  }

  &__image-base {
    border-radius: 5px;
    height: 300px;
    width: 220px;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;

    @media screen and (max-width: 800px) {
      font-size: 30px;
      text-align: center;
    }
  }

  &__reviews {
    margin-top: 1rem;
    padding: 2rem;
  }

  &__bullets {
    font-size: 16px;
  }
}
